<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "Medplayer"
        versionCode="1"
        version   = "1">

    <!-- versionCode is optional and Android only -->

    <name>Medplayer</name>

    <description>
        Music Player
    </description>

    <author href="http://www.medplayer.com" email="moodyweb@hotmail.com">
        Paul Moody
    </author>
</widget>
